DB/flows.json
[
    {
        "id": "6761cd81a24d274a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6eb1bac4457d8171",
        "type": "mqtt in",
        "z": "6761cd81a24d274a",
        "name": "MQTT-Node",
        "topic": "dhbw/ai/si2023/5/max4466/0",
        "qos": "2",
        "datatype": "json",
        "broker": "18d3dd12ac8f58c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "caa9d18689140a85",
                "bf6a215f9586bb05"
            ]
        ]
    },
    {
        "id": "caa9d18689140a85",
        "type": "function",
        "z": "6761cd81a24d274a",
        "name": "function 1",
        "func": "const data = msg.payload;\n\nconst baseTimestamp = Number(data.timestamp) * 1000; // convert to ms\nconst baseSequence = data.sequence;\nconst values = data.value;\n\nconst result = [];\n\nfor (let sensor = 0; sensor < 4; sensor++) {\n    for (let i = 0; i < 10; i++) {\n        const index = (sensor * 10) + i;\n        const reading = Number(values[index]);\n\n        result.push({\n            payload: {\n                measurement: \"sensor_data\",\n                value: reading,\n                timestamp: new Date(baseTimestamp + (i * 100)).toISOString(),\n                sensor_id: `sensor_${ sensor + 1}`\n            }\n        });\n    }\n}\n\nreturn [result];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "7701405c8a7ed7d9"
            ]
        ]
    },
    {
        "id": "7701405c8a7ed7d9",
        "type": "debug",
        "z": "6761cd81a24d274a",
        "name": "Influx Mirror",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "e86b8df27f37b702",
        "type": "function",
        "z": "6761cd81a24d274a",
        "name": "Virtual MQTT message",
        "func": "// Sequence counter\ncontext.sequence = (context.sequence || 0) + 1;\nlet timestamp = Math.floor(Date.now() / 1000);\nlet value = Array.from({ length: 40 }, () => Math.floor(Math.random() * 4096));\n\n// Construct the simulated message payload\nmsg.payload = {\n    timestamp: timestamp,\n    value: value,\n    sequence: context.sequence,\n    meta: \"null\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "caa9d18689140a85",
                "bf6a215f9586bb05"
            ]
        ]
    },
    {
        "id": "e84569a561387759",
        "type": "catch",
        "z": "6761cd81a24d274a",
        "name": "",
        "scope": [
            "6eb1bac4457d8171"
        ],
        "uncaught": false,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "15dc1979fbd78224"
            ]
        ]
    },
    {
        "id": "15dc1979fbd78224",
        "type": "debug",
        "z": "6761cd81a24d274a",
        "name": "MQTT Err",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e065df14c632f75",
        "type": "inject",
        "z": "6761cd81a24d274a",
        "name": "Virtual MQTT trigger",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e86b8df27f37b702"
            ]
        ]
    },
    {
        "id": "bf6a215f9586bb05",
        "type": "debug",
        "z": "6761cd81a24d274a",
        "name": "MQTT Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "18d3dd12ac8f58c2",
        "type": "mqtt-broker",
        "name": "HänischMqtt",
        "broker": "aicon.dhbw-heidenheim.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]